<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="../../public/js/index.js"></script>
</head>

<body>
        <div id="app">

                <div>
                        <div class="rightBox" id="userInfo">
                                <div class="title">
                                        <span>用户信息</span>
                                </div>
                                <p>
                                        <span class="username"></span>
                                </p>
                                <p>
                                        <span>
                                                <a href="/admin">点击进入管理页面</a>
                                        </span>，

                                </p>
                                <p>
                                        <span>
                                                <a href="/logout" id="LogotBtn">退出</a>
                                        </span>
                                </p>
                        </div>

                        <div id="loginBox">
                                <div>
                                        <span>登录</span>
                                </div>
                                <div>
                                        <span>用户名：</span>
                                        <input type="text" name="username">
                                </div>
                                <div>
                                        <span>密码：</span>
                                        <input type="password" name="password">
                                </div>
                                <div>
                                        <button>登录</button>
                                </div>
                                <div>
                                        <a href="#">马上注册</a>
                                </div>
                        </div>
                        <div id="registerBox">
                                <div>
                                        <span>注册</span>
                                </div>
                                <div>
                                        <span>用户名：</span>
                                        <input type="text" name="username">
                                </div>
                                <div>
                                        <span>密码：</span>
                                        <input type="password" name="password">
                                </div>
                                <div>
                                        <span>确认密码：</span>
                                        <input type="password" name="repassword">
                                </div>
                                <div>
                                        <button>注册</button>
                                </div>
                                <p>已有账号
                                        <a href="#">马上登录</a>
                                </p>
                        </div>

                </div>
        </div>
</body>

</html>